.display_container__div {
    display: flex;
    flex-direction: row;
}

.button_position1{
    position: relative;
    right: 50px;
    padding: 0 20px;
}

.button_position2{
    position: relative;
    left: 50px;
    padding: 0 20px;
}
