.display_container__div {
    display: flex;
    flex-direction: row;
}

.button_position1 {
    position: relative;
    right: 1.2em;
    padding: 0 1em;
}

.button_position2 {
    position: relative;
    left: 1.2em;
    padding: 0 1em;
}

.start_button {
    width: 150px;
}

.play_button {
    margin: 2em;
}